body { max-width:900px; margin:auto; padding:0 15px; font-family:Palatino, Cambria, Times, serif; line-height:140%; font-size:110% }
h1 { margin:1em 0 0.5em 0; line-height:120% }
h1, h2, h3, h4, .date, .footer { font-family:-apple-system, Helvetica, Calibri, Arial, serif; font-weight:600 }
p { line-height:150% }
.date { font-size:90%; color:#223; margin:0 0 2em 0 }

.footer, pre, img.figure { background:#d0ddee }

.footer { color:#223; display:inline-block; padding:5px 10px; margin-top:10px; border-radius:5px; font-size:80% }
.footer ul { padding:0; margin:0 }
.footer li { display:inline-block; padding:0 1.5em 0 0 }
.footer li:before { content:"✷ " }

tt, pre { font-family:Menlo,Consolas,Lucida Console,monospace; font-size: 85% }
pre { font-size:80%; padding:5px; overflow:auto; clear:both; line-height:160% }
pre, img.figure { border-radius:5px; padding:10px }
.floated { float:right; margin:0 0 10px 10px }

a:link { color:#34b }
a:visited { color:#34b }
