body { max-width:900px; margin:auto; padding:0 15px; font-family:Optima, Cambria, Helvetica, sans-serif; line-height:140%; font-size:110% }
h1 { margin:1em 0 0.5em 0; line-height:110% }
p { line-height:140% }
.date { font-size:90%; font-weight:bold; color:#223; margin:0 0 2em 0 }

.footer { background:#dde; color:#223; display:inline-block; padding:5px 10px; margin-top:10px; border-radius:5px; font-size:80% }
.footer ul { padding:0; margin:0 }
.footer li { display:inline-block; padding:0 1.5em 0 0 }
.footer li:before { content:"✷ " }

tt, pre { font-family:Menlo,Consolas,Lucida Console,monospace; font-size: 90% }
pre { font-size:80%; padding:5px; overflow:auto; clear:both; line-height:160% }
pre, img.figure { background:#dde; border-radius:5px; padding:10px }
.floated { float:right; margin:0 0 10px 10px }

a:link { color:#00b }
a:visited { color:#40b }
